
/* Column with an icon
 * ------------------------------------------------------------- */


.column__icon .svg__icon {
    filter: invert(82%) sepia(33%) saturate(7474%) hue-rotate(167deg) brightness(92%) contrast(96%);
}

.column__icon .text__title {
    padding: 1em 0 1.5em 0;
    color: var(--col-text);
}