/**
 * ------------------------------------------------------------- 
 * Testimonial
 * ------------------------------------------------------------- */

blockquote {
	width: 60%;
	min-width: 15em; /* 240px */
    margin: 0 auto;
    text-align: center;
}

blockquote p {
    @include font-size(24);
    font-weight: 800;
    padding-bottom: var(--base);
}

cite {
    font-style: normal;
}

