    <section class="library__pattern">
        <header>
        	<h2>Blocks</h2>
        	<p>Each block takes up the full width of the viewport. A block can contain several sections, depending on the amount of columns/elements a block has been allocated.</p>
            <p>All blocks take a minimum of two classes: <span>block</span> and <span>block--[BLOCK-NAME]</span>.</p>
            <p>The following block names are available to use:</p>
            <ul>
                <li class="code">block--hero</li>
                <li class="code">block--single</li>
                <li class="code">block--double</li>
                <li class="code">block--triple</li>
                <li class="code">block--testimonial</li>
                <li class="code">block--blog</li>
            </ul>
            <p>Optionally a block can have a third class indicating the background shading of the section. The background colour will stretch the full width of the viewport.</p>
            <ul>
                <li class="code">light</li>
                <li class="code">dark</li>
            </ul>
        </header>
    </section>
