    <section class="library__pattern">
        <header>
        	<h2>Elements</h2>
        	<p>Each element is a single column of content.</p>
            <p>All elements take at least one class <span>column__[ELEMENT-NAME]</span>.</p>
            <p>The following element names are available to use:</p>
            <ul>
                <li class="code">column__text</li>
                <li class="code">column__bullets</li>
                <li class="code">column__toggle accordion</li>
                <li class="code">column__icon</li>
                <li class="code">column__image</li>
            </ul>
        </header>
    </section>
