/**
 * -------------------------------------------------------------
 * Module with light background
 * ------------------------------------------------------------- */


.light {
    position: relative;
}

.light > * {
    position: relative;
    z-index: 100;
}


.light::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: 105vw;
    height: 100%;
    margin: 0 -50vw;
    display: block;
    z-index: 10;
    background-color: var(--col-page-light);
}


