<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    
    <title>Library of modules | Cloud Secure</title>
    <meta name="description" content="A list of all the available modules for the Cloud Secure website.">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700;800&display=swap">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/screen.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/library.min.css">

</head>

<body>
    {% include social-icons.svg %}
	{{ content }}
</body>

</html>